<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= name %>
    </title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body>
    <twine>
      <%= passages %>
    </twine>
    <section id="runtime">
      <nav>
        <h1><%= name %></h1>
        <div id="toggles">
          <label
            ><input
              type="checkbox"
              name="show_directives"
              id="show_directives"
              checked="checked"
            />show directives</label
          >
          <label
            ><input type="checkbox" name="proofing" id="proofing" />show
            proofing</label
          >
        </div>
      </nav>

      <main class="chat-panel">
        <div class="passages">
          <div id="phistory" class="history chat-history"></div>
          <div id="passage" class="active"></div>
          <div id="animation-container">
            <div class="chat-passage-wrapper">
              <div class="chat-passage">
                <div class="wave">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="user-response-panel">
          <hr />
          <div
            id="user-response-hint"
            class="user-response-hint content-container"
          ></div>
          <div id="user-response-panel" class="user-reponse-wrapper"></div>
        </div>
      </main>
    </section>
    <%= stylesheet %> <%= script %>
  </body>
</html>
