<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= name %>
    </title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body>
    <twine>
      <%= passages %>
    </twine>
    <nav>
      <div id="nav-reset">
        <h1><%= name %></h1>
        <div id="toggles">
          <label
            ><input
              type="checkbox"
              name="show_directives"
              id="show_directives"
              checked="checked"
            />show directives</label
          >
          <label
            ><input type="checkbox" name="proofing" id="proofing" />show
            proofing</label
          >
        </div>
      </div>
    </nav>
    <section id="runtime">
      <main id="chat-panel">
        <div id="passages">
          <div id="history"></div>
          <div id="active-passage"></div>
          <div id="animation-container">
            <div class="chat-passage-wrapper">
              <div class="chat-passage">
                <div class="wave">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="user-response-wrapper">
          <div id="user-response-panel"></div>
        </div>
      </main>
    </section>
    <%= stylesheet %> <%= script %>
  </body>
</html>
